.poke-table {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  margin: 5em 0;
}

.poke-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
}

.poke-card:hover {
  transform: scale(1.1);
}

.id {
  color: #505050;
  margin-bottom: 3px;
}

.name {
  text-transform: capitalize;
  margin-bottom: 6px;
}

.types {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.types span {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 70px;
  padding: 3px 0px;
}

